body {
  background-color: #141414;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.president-img {
  width: 200px;
  height: 200px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
  background-size: cover;
  flex-shrink: 0;
  margin-bottom: 15px;
}

.president-menu {
  width: 220px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  background-color: #3b3b3b;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-bottom: 15px;
}

#selected-president {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.chat-container {
  margin-top: 20px;
  padding: 10px;
  background-color: #222;
  border-radius: 10px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#chat-box {
  height: 200px;
  width: 100%;
  overflow-y: auto;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
  padding: 5px;
}

.input-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

input {
  flex: 1;
  padding: 8px;
  text-align: left;
  border: none;
  outline: none;
  border-radius: 5px;
}

button {
  padding: 8px 12px;
  background-color: #3b3b3b;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

button:hover {
  background-color: #555;
}

.typography {
  color: #fff;
  text-align: center;
  font-family: "ABeeZee", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}
